---
cert_folder: "./certs"
country: Country Name
organization: ConfigService
organizational_unit: Engineering
locality: Mountain
province: Asia
street_address: Bridge
postal_code: 123456
dns: 0.0.0.0
name: Sample Name
to_pkcs12: Yes
